In [0]:
import pandas as pd

In [0]:
schema= pd.read_csv("Schema.csv")

In [3]:
schema

    Seq_id Label (Primary)  ...                   MetricIsInternational TimeEvent
0        1            Team  ...                                     NaN       NaN
1        2          Ground  ...  payload►grounds►0-N►host_international       NaN
2        3            City  ...                                     NaN       NaN
3        4           State  ...                                     NaN       NaN
4        5         Country  ...                                     NaN       NaN
5        6          Player  ...                                     NaN       NaN
6        7          Player  ...                                     NaN       NaN
7        8           Match  ...                                     NaN       NaN
8        9             NaN  ...                                     NaN       NaN
9       10             NaN  ...                                     NaN       NaN
10      11             NaN  ...                                     NaN       NaN

[11 rows x 11 columns]

In [0]:
import json
import codecs

In [0]:
json_file=json.load(codecs.open('tribesai.json', 'r', 'utf-8-sig'))

In [13]:
type(json_file)

dict